* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #dfc9cc;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
}

.modal {
    margin: 50vh auto auto 50vh;
}

.card-container {
    display: flex;
    gap: 10px;
}

.card {
    background-color: #ac9696;
    border-radius: 10px;
    color: #244931;
    padding: 20px;
    border: 1px solid #854d0e;
    width: 300px;
    height: fit-content;
    text-align: center;
    font-size: 22px;
}

.new-book {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #2563eb;
    color: white;
}

dialog {
    border: none;
    box-shadow: #00000029 2px 2px 5px 2px;
    border-radius: 10px;
    padding: 30px;
    background-color: pink;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}